@page
@model RazorPages.Pages.IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<h2>Bookflix</h2>

<div class="row">
    @foreach (var libros in Model.Libros)
    {
         <div class="card-body d-flex flex-column"  style="width: 200px;">
        <div class="card"></div>
        <h3>@libros.Titulo</h3>
        <p>@libros.Autor</p>
        <div class="Imagenes">
            <img src="~/img/@libros.Imagen" alt="@libros.Titulo" class="img-fluid">
        </div>
          <a asp-page="/librodetalle" asp-route-id="@libros.Id" class="btn btn-primary mt-2">Ver más</a>
          </div>
    }
</div>


@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success">
        @TempData["Mensaje"]
    </div>
}
